
.App {
  text-align: center;
  ;
}

.App-logo {
  padding-top: 8vmin;
  margin: 2%;
  height: 45vmin;
  border-radius: 10em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #aa0022;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: rgb(29, 71, 17);;
  
}
.App h1{
  margin:11px;
}
.btn-Menu{
  margin-top: 2%;
/* padding:10px 25px 10px 15px; */
background-color: #96e550;

/* color: black; */
border-radius: 5px; 
border:none;
padding: 7px;
text-align: center;
width: 15%;
}

a:link, a:visited, a:active{
  text-decoration:none;
}
 .App h3{
  padding:3px 3px 8px 10px;
  font-size: 20px;
  color:rgb(29, 71, 17);
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



