#root{
  background-color: #42B604;
}

.header{
  text-align: center;
 
}

.logo-bq{
  height: 150px;
 
}

.menu-nav{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  column-gap: 30px;
  justify-items: stretch;
}

.button-menu{
  justify-self: stretch;
}

